body {
  margin: 0;
  background: url('../images/relayw.jpg');
  background-repeat: no-repeat;
  background-size: auto;
}

.humidity {
  width: 400px;
  height: 200px;
  margin: 40px 0 0 40px;
  border-radius: 30px;
  background: #000;
  opacity: 0.85;
  color: #FFF;
}

h1 {
  margin-top: 80px;
  font-size: 30px;
}

.humi {
  top: 20px;
  position: absolute;
  left: calc(50% - 90px);
}

.relay {
  position: absolute;
  bottom: 150px;
  left: calc(50% - 80px);
}

button {
  background-color: #900604;
  border: none;
  color: #FFF;
  padding: 16px 32px;
  font-size: 16px;
  text-decoration: none;
}

button:focus {
  outline: none;
}
